/*
@font-face {
  font-family: 'iconfont';  
  src: url('font/font_2we8mdadigdgqfr.eot');
  src: url('font/font_2we8mdadigdgqfr.eot?#iefix') format('embedded-opentype'),
  url('font/font_2we8mdadigdgqfr.woff') format('woff'),
  url('font/font_2we8mdadigdgqfr.ttf') format('truetype'),
  url('font/font_2we8mdadigdgqfr.svg#iconfont') format('svg');
}
*/

@charset "utf-8";
@import url("font_g0huidcuf9jdobt9.css");